.sub-heading {
  font-size: 500%;
  color: DarkBlue;
}

p {
  font-size: 300%;
}

.bg {
  position: absolute;

  background-image: url("images/grass.png");

  height: 100%;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-container {
  width: 60%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  padding-left: 5%;
}
