$background-color: #40444c;
$dark-color: #192a78;
$primary-color: rgb(80, 80, 168);
$light-color: #827eda;
$sub-color: rgb(220, 238, 240);
$text-color: rgb(255, 255, 255);

:export {
    backgroundColor: $background-color;
    textColor: $text-color;
    primaryColor: $primary-color;
    darkColor: $dark-color;
    lightColor: $light-color;
}