#projects-section {
    background-color: rgb(220, 220, 240);
    height: 120vh;
    width: 100vw;
    font-size: 3.5vmin;
    color: DarkBlue;
    padding: 0 2vw 2vh 2vw;
    text-align: center;
  
    // layout
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10vh auto auto;
  }
  #projects-section a{
    color: rgb(255, 255, 255);
  }
  #projects-section a:hover{
    color: rgb(220, 220, 240);
  }
  #projects-header {
    font-size: 12vh;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .project-tile {
    text-align: center;
    background-color: DarkBlue;
    height: 47vmin;
    width: 40vmin;
  }
  .project-image {
    height: 40vmin;
    width: 40vmin;
    object-fit: cover;
  }