$navbar-color: rgba(0,0,0,0.8);
$background-color: #000000;
$text-color: #ffffff;
$selection-color: rgba(255, 255, 255, 0.1);

:export {
    navbarColor: $navbar-color;
}

.arknightsPage {
    padding: 96px 16px;
    margin-left: 0;
    margin-right: 0;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
}

.navBar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    width:80px;
    height:80px;
    padding-left: 16px;
    padding-right: 16px;
}

.logo:hover {
    background-color: $selection-color;
}

.video {
    width: 96vw;
    height: 80vh;
    padding-left: 16px;
    padding-right: 16px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3vmin;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0 20px 0;
}

.email {
    font-size: 5vmin;
    margin: 0 20px 0 20px;
}

.factionImage{
    max-width:55vmin;
    max-height:55vmin;
}

.label {
    font-size: 5vmin;
}

.submit {
    font-size: 5vmin;
}